main {
    margin: 0 5%;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-right: 20%;
    padding-bottom: 2rem;
    font-size: 18px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    padding: .5rem;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
}

img{
    max-width: 80%;
    height: auto;
}
